.form {
  background: #ffffff;
  border-radius: 8px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 120px;
  top: 100px;
  min-width: 25vw;
  padding: 0 40px 10px;
  overflow: hidden;
}

.login-form,
.signup-form {
  margin: 0 auto;
  min-width: 125%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myform {
  padding: 2em 0em;
  width: 100% !important;
  height: 100%;
}
.myform input {
  height: 40px;
}
.myform input,
.myform textarea {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
  width: 100% !important;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}
.myform input:focus,
.myform textarea:focus {
  border: 2px solid #08c096;
}
.form-title {
  font-size: 15px;
  color: #08c096;
  text-align: center;
}

.myform button {
  width: 40%;
  text-align: center;
  padding: 10px 10px;
  margin-top: 20px;
  color: white;
  background: #08c096;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: all 3s;
}
.myform button:hover {
  cursor: pointer;
  opacity: 50%;
}
@media only screen and (max-width: 1024px) {
  .form {
    display: flex;
    align-items: center;
  }
}
